<!DOCTYPE html>
<html>
   <head>
       <meta charset="UTF-8"/>
       <title>{% block title %}Forget Me Not{% endblock %}</title>
       <link rel="stylesheet" href="{{ asset('css/Style.css') }}" type="text/css" />
       <link rel="stylesheet" href="{{ asset('css/Style1.css') }}" type="text/css" />
       <link rel="stylesheet" href="{{ asset('css/Style2.css') }}" type="text/css" />
       <link rel="stylesheet" href="{{ asset('css/Style3.css') }}" type="text/css" />
   </head>
   <body>
        <div><img src="{{ asset('img/coucher.png') }}" class="ImgPrinci" alt="imgprinci"></div>
              
       <nav id="navigation"><!--Barre de Nav-->
           <ul>
               <li><a class="active" href="{{ path('accueil') }}">Accueil</a></li> <!--Onglet Accueil -->
               <li><a id="qui" href="{{ path('qui') }}">Qui sommes-nous</a></li> <!--Onglet Qui sommes-nous -->
               <li><a id="contact" href="{{ path('contact') }}">Contactez-nous</a></li> <!--Onglet Contactez-nous -->
           </ul>
       </nav>
                
       {% block body %}{% endblock %}
       
       <footer>©2016 - Tout droit reservé </footer>
          
       {% block javascripts %}
       <script src ="{{ asset('css/script.js') }}"></script>
       {% endblock %}
   </body>
</html>